@charset "UTF-8";

/* 共通パーツ */
html {
  font-size: 62.5%;
}

body{
  color: #333;
  font-size: 1.6rem;
  font-family: "YuGothic",  Yu Gothic,  sans-serif;
}

li{
  list-style-type: none;
}
/* 共通パーツ */

/* ファーストビュー */
#mainVisual{
  background:linear-gradient(to bottom, #00afcc, #a0d8ef);
  height: 100vh;
}
.nav-wrapper{
  max-width: 1024px;
  padding-top: 40px;
  position: absolute;
  left: 0;
  right: 0;
}
.gnavi ul li a{
  height: 100%;
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
}
#mainVisual{
  background:linear-gradient(to bottom, #00afcc, #a0d8ef);
  height: 100vh;
}
.gnavi{
  background-color: #7d7d7d;
  border: 1px solid #fff;
  border-radius: 30px;
  padding: 0 30px;
  margin-right: 24px;
  margin-left: 24px;
}
.gnavi ul li a:hover{　←←←「メニューテキスト」にマウスオンした際のデザイン
  color: #333;
  background-color: #eb3c55;
  opacity: 0.5;ーーー①
  transition: 0.6s;ーーー②
}
.mv-wrapper{
  max-width: 1024px;ーーー①
  margin-top: 100px;ーーー②
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;ーーー③
  position: relative;ーーー④
  top: 80px;
}
